{% extends 'user/index.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <body style="background-color: black; color: white;">
        <div class="row">
            {% for event in events %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="background-color: black;">
                        <img src="{{ asset('img/' ~ event.image) }}" class="card-img-top" alt="#" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title" >{{ event.nom }}</h5>
                            <p class="card-text"><strong>description:</strong>{{ event.description }}</p>
                            <p class="card-text"><strong>Lieu:</strong> {{ event.lieu }}</p>
                            <p class="card-text"><strong>Date:</strong> {{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</p>
                            <div class="btn-group" role="group">
                                <a href="{{ path('app_event_showf', {'id': event.id}) }}" class="btn btn-primary">plus de détails</a><br>
                                <a href="{{ path('app_participation_newp', {'eventId': event.id}) }}" class="btn btn-primary">Participer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p>No records found</p>
                </div>
            {% endfor %}
        </div>
    </body>
{% endblock %}
