{% extends 'back.html.twig' %}

{% block title %}Participation index{% endblock %}

{% block body %}
    <h1>Participation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Event</th>
                <th>Tel</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.id }}</td>
                <td>{{ participation.nom }}</td>
                <td>{{ participation.prenom }}</td>
                <td>{{ participation.event }}</td>
                <td>{{ participation.tel }}</td>
                <td>{{ participation.date ? participation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_participation_showb', {'id': participation.id}) }}">show</a>
                    {{ include('participation/_delete_formb.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
