{% extends 'user/index.html.twig' %}

{% block title %}Participation index{% endblock %}

{% block body %}
    <body style="background-color: black;">
        <h1 style="color: white;">Liste des participations</h1>

        <table class="table" style="color: white;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Event</th>
                    <th>Tel</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for participation in participations %}
                <tr>
                    <td>{{ participation.id }}</td>
                    <td>{{ participation.nom }}</td>
                    <td>{{ participation.prenom }}</td>
                    <td>{{ participation.event }}</td>
                    <td>{{ participation.tel }}</td>
                    <td>{{ participation.date ? participation.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_participation_show', {'id': participation.id}) }}"class="btn btn-info btn-sm">Plus de détails</a>  <a href="{{ path('app_participation_edit', {'id': participation.id}) }}" class="btn btn-warning btn-sm">Modifier</a><br>
                        <br><a href="{{ path('app_participation_delete',{'id': participation.id}) }}" style="color: white;" class="btn btn-danger">supprimer</a>
                        
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas de participation</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_participation_new') }}" style="color: white;" class="btn btn-success">Participer a un événement</a>
    </body>
{% endblock %}
